.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-right: 0;      
  }
  
  .login-button {
    font-size: 1.5rem;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007bff;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
  }
  
  .login-button:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  