.Navigation {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  width: 16rem;
  background-color: #f1f1f1;
  overflow-y: auto;
  padding: 2rem;
  box-sizing: border-box;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .Navigation {
    position: static;
    top: auto;
    right: 0;
    bottom: auto;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1rem 0;
  }

  .App-content {
    flex-grow: 1;
    padding: 20px;
    margin-right: 0rem;
    margin-bottom: 10rem;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex-grow: 1;
}

.channel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    flex-wrap: wrap; /* Add this line */
  }
  
.channel-info {
display: flex;
align-items: center;
width: 100%; /* Add this line */
}

.user-list {
list-style: none;
padding-left: 20px; /* Add this line */
margin: 0; /* Add this line */
}
  
  
  .profile-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .friends-list, .channel-list {
    list-style: none;
    padding: 0;
  }
  
  .friend, .channel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .channel-info {
    display: flex;
    align-items: center;
  }
  
  .leave-channel-btn {
    margin-left: 5px;
  }
  
  .search-container {
    margin-top: auto;
  }
  