.App {
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  position: relative;
  flex-wrap: wrap;
}

.App-content {
  flex-grow: 1;
  padding: 20px;
  margin-right: 16rem;
}

.no-navigation {
  margin-right: 0;
}